{% if not product %}
<div class="row">
  <div class="col-sm-12">
    Product not found
  </div>
</div>

{% else %}
<div class="item-container item-row-1">
  <div class="ui grid">
    <div class="img-sm-col two wide tablet two wide computer column">
      <section class="vertical-slick slider">
      {% for image in product.images %}
      <div class="item-image-sm">
        <img class="img-gallery" src="{{image.path}}" rel="galery1">
      </div>
      {% else %}
      <div class="item-image-sm">
        <img class="img-gallery" src="{{ product.getMainImagePath }}" rel="galery1">
      </div>
      {% endfor %}
      </section>
    </div>
    <div class="item-image thirteen wide mobile six wide tablet seven wide computer column">
      {% if product.getMainImage %}
        <div class="item-image-main" id="product-detail-main-image">
          <img id="main-image" src="{{ product.getMainImagePath }}" class="img-responsive cursor-pointer" >
        </div>
      {% endif %}
    </div>
    <div class="buy-config sixteen wide mobile seven wide tablet seven wide computer column">
      <div class="bc-text">
        <div class="bc-text-01">{{ product.title }}</div>
        <div class="bc-text-02">{{ product.getFinalPriceFormated }}</div>
        <div class="ui divider"></div>
        {% if accessories|length > 0 %}
        <div class="bc-text-04">
          <div class="choose-color">
            <div class="title-3">Colors</div>
              {% for accessoriesProduct in accessories %}
                {% if accessoriesProduct.images|length > 0 %}
                  {% if accessoriesProduct.slug == product.slug %}
                  <div class="item-image-sm color-image">
                    <img src="{{ accessoriesProduct.images[0].path }}" class="img-responsive cursor-pointer img-gallery-color active" onclick="location.href = '{{ accessoriesProduct.url}}'" >
                  </div>
                  {% else %}
                  <div class="item-image-sm color-image">
                    <img src="{{ accessoriesProduct.images[0].path }}" class="img-responsive cursor-pointer img-gallery-color" onclick="location.href = '{{ accessoriesProduct.url}}'" >
                  </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <div class="clearfix"></div>  
          </div>
        </div>
        <div class="ui divider"></div>
        {% endif  %}
        <div class="bc-text-05">
          <div class="title-3">Size in stocks</div>
          <div class="choose-size">
            {% if product.isAllowOrder %}
              <form data-request="onAddToBasket" id="form-add-to-basket">
                <input type="hidden" name="id" value="{{ product.id }}">
                {% if product.properties %}
                  {% for property in product.getFullProperties %}
                  <div class="product-property-row">
                    {% partial __SELF__ ~'::property-input' property = property product = product %}
                  </div>
                  {% endfor %}
                {% endif %}
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="bc-text-06">
          <div class="title-3">Quantity</div>
          <div class="item-btn-group">
            <div class="increment-btn">     
              <div class="ui left action input">
                <button class="ui icon button quantity-left-minus" data-type="minus" data-field="">
                  <i class="minus icon"></i>
                </button>
                <input type="text" id="quantity" name="default_quantity_operation" class="form-control input-number" value="{{ product.minimum_quantity }}" min="{{ product.minimum_quantity }}" max="100">
                <button class="ui icon button quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                  <i class="add icon"></i>
                </button>
              </div>
            </div>    
            <div class="bct06-md">
              <div class="bct06-1"><i class="icon fa-rotate-left"></i> <p>15 days easy returns</p></div>
              <div class="bct06-2"><i class="icon fa-truck"></i> <p>Check delivery time for your location</p></div>
            </div>
            <!-- <div class="btn-01"><i class="icon fa-shopping-cart"></i> ADD TO CART</div> -->
            <button class="btn-01 add-to-cart-item" type="submit"><i class="icon fa-shopping-cart"></i> ADD TO CART</button>
              </form>
              {% endif %}
          </div>
          <div class="clearfix"></div>
          {% if product.customization|length > 0 %}
          <div class="product-customization">
            {% for custField in product.customization %}
            <div>
              {{ custField.label }}: <strong>{{ custField.value }}</strong>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {% if product.attachments|length > 0 %}
          <div class="ui divider"></div>
              <div class="title-3">Attachments</div>
              {% for file in product.attachments %}
              <a href="{{ file.path }}" target="_blank">{{ file.title ?  file.title : file.file_name }}</a><br />
              {% endfor %}
            <div class="clearfix"></div>    
          {% endif  %}
          <div class="bct06-lg">
            <div class="bct06-1"><i class="icon fa-rotate-left"></i> <p>15 days easy returns</p></div>
            <div class="bct06-2"><i class="icon fa-truck"></i> <p>Check delivery time for your location</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="item-container item-row-2">
  <div class="ir2-text-1">
    <div class="tb2">
      <div class="the-brand"><h3>Product Details</h3></div>
      <hr class="hr-inline">
    </div>
  </div>
  <div class="ir2-text-2">
    <div class="ir2-2-1">
      <div class="title-4">Fabric & Care</div>
      <ul class="ul-left">
        <li>Fabric: Polyamide Spandex</li>
        <li>Do Not Iron</li>
        <li>Hand Wash Allowed</li>
      </ul>
      <ul class="ul-right">
        <li>Do Not Bleach</li>
        <li>Wash Below 30 C</li>
        <li>Wash Dark Colours Separately</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="ir2-2-2">
      <div class="title-4">Features</div>
      <ul class="ul-left">
        <li>Light control for smoothening out bulges & for 12 Hr wear</li>
        <li>12 Hour shapewear - extremely lightweight & comfortable</li>
        <li>Elastane blended for stretch & shape retention</li>
        <li>Long shaping skirt for stomach & thigh shaping</li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <!-- <div class="ui divider"></div>
    <div class="ir2-2-3">
      <div class="title-4">Reviews</div>
      <p>Be the first to review this product</p>
      <div class="frame-1-stars">
        <div class="frame-1-star">
          <i class="fa fa-star-o"></i>
        </div>
        <div class="frame-1-star">
          <i class="fa fa-star-o"></i>
        </div>
        <div class="frame-1-star">
          <i class="fa fa-star-o"></i>
        </div>
        <div class="frame-1-star">
          <i class="fa fa-star-o"></i>
        </div>
        <div class="frame-1-star">
          <i class="fa fa-star-o"></i>
        </div>
      </div>
    </div> -->
  </div>
</div>
<div class="ui divider"></div>
<div class="item-row-3">
  <!-- <i class="icon fa-angle-left"></i> -->
  <div class="container">
    <div class="intro">
      <div class="title">
        <div class="Line-1"></div>
        <div class="best-title"><h2>You Might Also Like</h2></div>
        <div class="Line-2"></div>
      </div>
    </div>
    <div class="Shop-our-latest-tren">
      Don’t miss this great style don’t miss this great style don’t miss this great style
    </div>

    <div class="best-frames">
      <section class="related-products slider">
      {% set index = 0 %}
        {% for key, product in productsPagination.items()|slice(productsPagination.perPage()*(productsPagination.currentPage()-1), productsPagination.perPage()) %}
        {% set index = index+1 %}
          <div class="column">
            <div class="frame-1">
              {% if product.getMainImage %}
              <a href="/{{category.slug}}/{{product.slug}}">
                <img src="{{ product.getMainImage.path }}" class="image-1 cursor-pointer">
              </a>
              {% endif %}
              <div class="Rectangle-7">
                <div class="frame-1-price">{{ product.getFinalPriceFormated }}</div>
                <div class="frame-1-description cursor-pointer"><a href="/{{category.slug}}/{{product.slug}}">{{ product.title }}</a></div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="no-data">no products</div>
        {% endfor %}
      </section>
    </div>  
  </div>
  <!-- <i class="icon fa-angle-right"></i> -->
</div>
{% put scripts %}
<script>
  /* increment button */
  $(document).ready(function(){

    var quantitiy=0;
       $('.quantity-right-plus').click(function(e){
            
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());
            
            // If is not undefined
                
                $('#quantity').val(quantity + 1);

              
                // Increment
            
        });

         $('.quantity-left-minus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());
            
            // If is not undefined
          
                // Increment
                if(quantity>0){
                $('#quantity').val(quantity - 1);
                }
        });
        
    });

</script>

<script type="text/javascript">
  $(document).on('ready', function() {
  if ($(window).width() < 992) {
    $(".vertical-slick").slick({
      dots: true,
      vertical: true,
      verticalSwiping: true,
      infinite: false,
      slidesToShow: 4,
      slidesToScroll: 3
    });
  }
  else {
    $(".vertical-slick").slick({
      dots: true,
      vertical: true,
      verticalSwiping: true,
      infinite: false,
      slidesToShow: 5,
      slidesToScroll: 3
    });   
  }
    $(".related-products").slick({
      dots: true,
      infinite: true,
      centerMode: false,
      slidesToShow: 5,
    });
  });
</script>


{% endput %}

{% endif %}







<!-- /////////////////////////////////////////////// -->











<script>
$( document ).ready(function() {
    $("#form-add-to-basket select:first").change();
});
    
</script>
    