{% if (property.type == 1) %}
<div class="ui form">
  <div class="field">

    <select 
        name="options[{{ property.id }}]" 
        class="form-control ui dropdown" 
        placeholder="{{ property.placeholder }}" 
        data-request="onChangePropertyOption"
        data-request-success="onChangePropertyOptionSuccess(data)"
        {{ property.required ? "required='true'" : "" }}
        >
        
      {% for option in property.getCurrentOptions(product) %}
        <option value="{{ option.title }}">{{ option.title }}</option>
      {% endfor %}
      
    </select>
</div>
</div>


{% elseif property.type == 2 %}

    <select 
        name="options[{{ property.id }}][]" 
        class="form-control" 
        placeholder="{{ property.placeholder }}" 
        data-request="onChangePropertyOption"
        data-request-success="onChangePropertyOptionSuccess(data)"
        multiple='true'
        {{ property.required ? "required='true'" : "" }}
        >
        
      {% for option in property.getCurrentOptions(product) %}
        <option value="{{ option.title }}">{{ option.title }}</option>
      {% endfor %}
      
    </select>

{% elseif property.type == 3 %}

    <input 
        name="options[{{ property.id }}]" 
        type="text" 
        class="form-control" 
        placeholder="{{ property.placeholder }}"
        {{ property.required ? "required='true'" : "" }}
        >
    
{% elseif property.type == 4 %}

    <input 
    name="options[{{ property.id }}]" 
    type="number" 
    class="form-control" 
    placeholder="{{ property.placeholder }}"
    {{ property.required ? "required='true'" : "" }}
    >
    
{% elseif property.type == 5 %}

    <div class="checkbox">
        <input name="options[{{ property.id }}]" type="hidden" value="no">
        <label>
            <input 
                name="options[{{ property.id }}]" 
                type="checkbox" 
                value="yes" 
                placeholder="{{ property.placeholder }}"
                {{ property.required ? "required='true'" : "" }}
                >{{ property.placeholder }}
        </label>
    </div>

{% elseif (property.type == 6) %}
<!-- <div class="ui form">
  <div class="field">

    <select 
        name="options[{{ property.id }}]" 
        class="form-control ui dropdown" 
        placeholder="{{ property.placeholder }}" 
        data-request="onChangePropertyOption"
        data-request-success="onChangePropertyOptionSuccess(data)"
        {{ property.required ? "required='true'" : "" }}
        >
        
      {% for option in property.getCurrentOptions(product) %}
        <option value="{{ option.title }}">{{ option.title }}</option>
      {% endfor %}
      
    </select>
</div>
</div> -->

<!-- <div class="ui fluid selection dropdown"> -->
  <select type="hidden" name="options[{{ property.id }}]" 
        class="form-control ui dropdown" 
        placeholder="{{ property.placeholder }}" 
        data-request="onChangePropertyOption"
        data-request-success="onChangePropertyOptionSuccess(data)"
        {{ property.required ? "required='true'" : "" }}>
        {% for option in property.getCurrentOptions(product) %}
        <option value="{{ option.title }}">{{ option.title }}</option>
      {% endfor %}
      
    </select>
  <!-- <i class="dropdown icon"></i>
  <div class="default text">Select Friend</div>
  <div class="menu">
    <div class="item" data-value="jenny">
      <img class="ui mini avatar image" src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
      Jenny Hess
    </div>
    <div class="item" data-value="elliot">
      <img class="ui mini avatar image" src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
      Elliot Fu
    </div>
    <div class="item" data-value="stevie">
      <img class="ui mini avatar image" src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
      Stevie Feliciano
    </div>
    <div class="item" data-value="christian">
      <img class="ui mini avatar image" src="https://semantic-ui.com/images/avatar/small/christian.jpg">
      Christian
    </div>
    <div class="item" data-value="matt">
      <img class="ui mini avatar image" src="https://semantic-ui.com/images/avatar/small/matt.jpg">
      Matt
    </div>
    <div class="item" data-value="justen">
      <img class="ui mini avatar image" src="https://semantic-ui.com/images/avatar/small/justen.jpg">
      Justen Kitsune
    </div>
  </div> -->
<!-- </div> -->

{% endif %}

<script>
function onChangePropertyOptionSuccess(data) {
    var mainImageSrc = data["product-main-image"];
    console.log(data["product-main-image"]);
    if (mainImageSrc!= "") {
        $("#product-detail-main-image img").attr("src", mainImageSrc);
        $(".product-detail-list-of-images img:first").attr("src", mainImageSrc);
        $(".product-detail-list-of-images a:first").attr("href", mainImageSrc);
    }
}
    
</script>

{% put scripts %}
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endput %}