<!-- <div class="sixteen wide mobile five wide tablet five wide computer column">
  <h4 class="tt-02 ui inverted header">NEWSLETTER</h4>
  <div class="dv-01 ui inverted segment">
    <form data-request="onSend" class="ui inverted form" role="form" method="post">
      <div class="field">
        <input placeholder="Email" type="email" id="email" name="email" required="required">
      </div>
      <button class="ui submit button" type="submit">Subscribe</button>
    </form>
  </div>
</div> -->

<div class="rectangle-6">
  <div class="container">
    <div class="r6-left">
      <div class="r6-text-01">Sign up to receive 10% off* your first order</div>
      <div class="r6-text-02">Everyday! at Huge Discounts in our Designer Clothing Sale</div>
    </div>
    <div class="r6-right">
      <form data-request="onSend" role="form" method="post">
        <input class="subscribe-form" type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Sign up for newsletter"><button class="subscribe-submit" type="submit">SUBSCRIBE</button>
      </form>
    </div>
  </div>
  <div class="clearfix"></div>
</div>