<div class="contact-page">
  <div class="site-nav">
    <div class="container">
      <div class="snt-1">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Contact</a></li>
        </ul> 
      </div>
      <div class="snt-2">CONTACT US</div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="cp-1">
    <div class="container">
      <i class="fa fa-phone"></i>
      <h2>(021) 530 1234</h2>
      <p>Monday to Sunday 9am to 8pm on</p>
    </div>
  </div>
  <div class="cp-2">
    <div class="item-container">
      <div class="intro">
        <div class="title">
          <div class="Line-1"></div>
          <div class="best-title"><h2>Share Feedback</h2></div>
          <div class="Line-2"></div>
        </div>
      </div>
      <div class="Shop-our-latest-tren">
        To share feedback and suggestions on how we could improve ourselves, write to us at <a class="links" href="mailto:customercare@behaku.com">customercare@behaku.com</a> or fill the form below
      </div>

      <div class="contact-form">
        <form data-request="onSend" class="ui form" role="form" method="post">
          <div class="two fields">
            <div class="field">
              <label class="control-label" for="name">Your Name</label>
              <input type="text" placeholder="Your full name" class="form-control" id="name" name="name" required="required">
            </div>
            <div class="field">
              <label class="control-label" for="email">Your Email</label>
              <input type="email" placeholder="Your email" class="form-control" id="email" name="email" required="required">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label class="control-label" for="phone">Your Phone</label>
              <input type="text" placeholder="Your phone number" class="form-control" id="phone" name="phone" required="required">
            </div>
            <div class="field">
              <label>Query Type</label>
              <div class="ui selection dropdown disabled">
                <div class="default text">Select Your Query Type</div>
                <i class="dropdown icon"></i>
                <input type="hidden" name="gender">
                <div class="menu">
                  <div class="item" data-value="male">Male</div>
                  <div class="item" data-value="female">Female</div>
                </div>
              </div>
            </div>
          </div>
          <div class="field">

            <label class="control-label" for="txtMessage">Your Message</label>
            <textarea class="wpcf7-form-control wpcf7-textarea form-control" placeholder="Type your message here" id="txtMessage" name="txtMessage" aria-invalid="false" name="message" required="required"></textarea>

          </div>
          <button class="btn-01" type="submit">SEND MESSAGE</button>
        </form>
      </div>
      <!-- <div class="btn-01">SEND MESSAGE</div> -->

    </div>
  </div>
</div>