<div class="title-page">{{category.title}} Collection</div>
<div class="slider-categories">
  <img src="{{'assets/img/sample/image-slider-01.jpg'|theme}}" class="image-slider-cat">
</div>

<div class="cat-rect-1">
  <div class="container">
    <div class="cr1t1" id="cr1t1">{{this.page.totalProducts}} Items Found</div>
    <div class="cr1t2">
      <div class="cr1t2-1">Sort by</div>
      <div class="cr1t2-2">
        <form data-request="{{ __SELF__}}::onFilterProject" data-request-update="'{{__SELF__}}::list-of-products-id' : '#partialProject'">
          <div id="ProjectFilter" class="project-filter ui form">
            <div class="field">
              <select class="ui fluid dropdown sorting" id="sorting" name="Sorting" name="Filter[perPage]">
                <option value="0">Latest product</option>
                <option value="1">Lowest price</option>
                <option value="2">Highest price</option>
              </select>
              <select class="ui fluid dropdown perPage" name="PerPage" style="display: none;">
                <option value="12">Semua Kategori</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="best-frames">
  <div class="container">
    <div class="ui grid">
      <div class="five column row" id="partialProject">
        {% partial __SELF__~'::list-of-products-id'%}      
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form data-request="{{ __SELF__}}::onFilterProject"
      data-request-update="'{{__SELF__}}::list-of-products-id' : '#partialProject'">
    <div id="ajaxPagination" class="project-filter ui form">
      <div class="field" style="display:none;">
        <select class="ui fluid dropdown sorting" name="Sorting" id="sorting-dummy" name="Filter[perPage]">
          <option value="asc">Semua Kategori</option>
        </select>
        <select class="ui fluid dropdown perPage" name="PerPage">
          <option value="12">Semua Kategori</option>
        </select>
      </div>
      <div class="intro">
        <div class="title">
          <div class="Line-1"></div>
          <!-- <div class="best-title"><h2>You Might Also Like</h2></div> -->
          <div class="best-title">
            <button class="btn-01" id="submitProject" type="submit">LOAD MORE</button>         
          </div>
          <div class="Line-2"></div>
        </div>
      </div>
    </div>
  </form>
</div>

{% put scripts %}
<script>
  $('.ui.dropdown').dropdown();
</script>

<script>
  // Amount of item found
  if ({{index}} > 1) {
    document.getElementById("cr1t1").innerHTML = "{{this.page.totalProducts}} Items Found";
  }
  else {
    document.getElementById("cr1t1").innerHTML = "{{this.page.totalProducts}} Item Found";
  }
</script>

<script>
  $('#sorting-dummy option').attr('value',sorting);
  (function($){
    $('#ProjectFilter').on('change', 'select, input', function(){
      sorting = $('#sorting').find(":selected")[0].value;
      $('#sorting-dummy option').attr('value',sorting);
        var $form = $(this).closest('form');
        $form.request();
    });

})(jQuery);
</script>

<script>
  (function($){
    valueOption = 12;
    $('#submitProject').on('click', function(){
      valueOption = valueOption + 12;
      console.log(valueOption);
      $('.perPage option').attr('value',valueOption);
        var $form = $(this).closest('form');
        $form.request();
    });
    
})(jQuery);
</script>

<script>
  if ($(window).width() < 992) {
    $("#partialProject").removeClass('five column row');
    $("#partialProject").addClass('three column row');
  }
  if ($(window).width() < 767) {
    $("#partialProject").removeClass('three column row');
    $("#partialProject").addClass('two column row');
  }
</script>

{% endput %}